clusterName: ${cluster_name}
serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${role_arn}

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
