serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${service_account}
serviceMonitor:
  # disabled this, we'll gonna use monitoring services from `kubesphere`
  enabled: false
affinity: ""
clusterName: ${cluster_name}
clusterEndpoint: ${cluster_endpoint}
aws:
  defaultInstanceProfile: ${aws_default_instance_profile}
