clusterName: ${cluster_name}
serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${role_arn}
resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
region: "eu-central-1"
serviceMonitor:
  enabled: true
